/* General roles*/

html{
    min-height: 100%;
    box-sizing: border-box;
  }
  body{
    background: #cccccc;
    color: black;
    margin: 0 50px;
  }


header{
    height: 90px; 
    background-color: white;

    display: flex;  /* Permets d'ajouter les propietes ;align-items et justify-content aussi affiche en ligne (colonne)*/
    justify-content: space-between; /* Pour aligner .left et .right aux extrémités */
    align-items: center;  /* Pour center verticalement les enfants */
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 20px;

}
.left nav img{
    width: 59%;
    margin-left: 50px;
    margin-right: 50px;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 


}

header ul li{
  list-style: none;
  overflow: hidden;
  margin-right: 20px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: 300;
}

.right ul li i{
    font-size: 31px;
    margin-right: 10px;
}

.right ul li button{
    font-size: 33px;
    color: white;
    background-color: #4b914e;
    line-height: 50px;
    border-radius: 10px;
}
/* ---------------------TEXT-HEADER-------------------------------*/

.text-header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: white;
    box-shadow: inset 1px 9px 6px #c9c1c1;
    height: 500px;

}

.text-left{
    margin-left: 133px;
    margin-top: -125px;
}

.text-left h2{
    color: #31a031;
    font-size: 28px;
    font-weight: 800;
}

.text-left h1{
    color: black;
    font-size: 34px;
    font-weight: bold;
}

.text-left button{

    font-size: 33px;
    color: white;
    background-color: #4b914e;
    line-height: 50px;
    border-radius: 10px;
}
/*-----------------IMAGE HEADER--------------------*/
.box{
    height: 377px;
    width: 507px;
    padding-top: 29px;
    padding-bottom: 100px;
    box-sizing: content-box;
}

